@media screen and (max-width:785px){
    .img{
        width: 100%;
    }
    .picture1 img{
       width: 100%;
    }
    .picture2 img{
        width: 100%;
    }
    .picture3 img{
        width: 100%;
    }
    .picture2, .text1, .text2, .text3, .text4, .text5, .text6 {
        position: static;
    } 
    .container{
        padding: 10px;
    }
    .picture1,.picture2,.picture3{
        margin-top: 20px;
        padding: 0px;
    }
}